<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="row main">
    <h1 align="center">Connexion</h1>
    <div class="main-login main-center">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Courriel</label>
          <div class="cols-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="email" required
                     [(ngModel)]="model.email" name="email"
                     #email="ngModel" placeholder="Courriel"/>
            </div>
            <div [hidden]="email.valid || email.pristine"
                 class="alert alert-danger">
              Courriel requis
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Mot de passe</label>
          <label class="cols-sm-2 error-message" id="password-error"></label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
              <input type="password" class="form-control" id="password" required
                     [(ngModel)]="model.password" name="password"
                     #password="ngModel" placeholder="Mot de passe"/>
            </div>
            <div [hidden]="password.valid || password.pristine"
                 class="alert alert-danger">
              Mot de passe trop court
            </div>
          </div>
        </div>

        <div class="form-group ">
          <button type="submit" [disabled]="!loginForm.form.valid" id="submit"
                  class="btn btn-primary btn-lg btn-block login-button">Connexion</button>
        </div>
        <div [ngStyle]="{'text-align' : 'center'}">
          <a class="forgot-password" href="javascript:void(0)" (click)="gotoForgotPassword()">J'ai oublié mon mot de passe</a>
        </div>
      </form>
    </div>
    <div *ngIf="errors" class="alert alert-danger">
      {{ errors }}
    </div>
  </div>
</div>
</body>

