<div class="container">
    <div *ngIf="station; else empty;">
        <h2>Station: {{station.info["name"]}}</h2>
        <p>Dernière mise à jour: {{ station.info["updated_at"]["date"] | date : 'yyyy/MM/dd h:mm a'}}</p>
        <div [ngStyle]="{'width' : '80px', 'text-align' : 'center', 'border' : '5px solid ' + station.aqi['color']}">
            <h2>{{station.aqi["average"]}}</h2>
        </div>
        <h4>{{station.aqi["label"]}}</h4>
        <div>
            <b>Température: </b>{{station.aqi["temperature"]}}°C
        </div>
        <div>
            <b>Humidité: </b>{{station.aqi["humidity"]}}%
        </div>
        <br>
        <table style="width: 50%" class="table table-bordered">
            <tr>
                <th>Type</th>
                <th>IQA</th>
                <th>Brute</th>
            </tr>
            <tr>
                <th>PM2.5</th>
                <td>{{station.aqi["pm2p5"]}}</td>
                <td>{{station.raw_data["pm2p5"]}}</td>
            </tr>
            <tr>
                <th>PM10</th>
                <td>{{station.aqi["pm10"]}}</td>
                <td>{{station.raw_data["pm10"]}}</td>
            </tr>
        </table>
    </div>
</div>
<ng-template #empty><b>Aucune station</b></ng-template>
