<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#"><img id="logo" src="../../assets/resources/RevolvAirLogo.png" alt="logo" /></a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
                <li ><a href="javascript:void(0)" class="logoName" (click)="gotoMap()">RevolvAir<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:void(0)" (click)="gotoSubscribe()">S'inscrire à la liste de distribution</a></li>
                <li><a href="javascript:void(0)" (click)="gotoSignIn()">Se connecter</a></li>
                <li><a href="javascript:void(0)" (click)="gotoSignUp()">S'inscrire</a></li>
            </ul>
        </div>
    </div>
</nav>

