<ng-progress></ng-progress>
<div class="container">
    <div class="row">
        <app-menu></app-menu>
    </div>
    <div class="row">
        <router-outlet></router-outlet>
    </div>
</div>
<app-footer></app-footer>


