<br>
<br>
<br>
<h1>Carte des stations d'analyse de qualité de l'air</h1>
<div style="height: 500px"
     leaflet
     [leafletOptions]="mapOptions"
     [leafletLayers]="markers">
</div>
<div class="row">
        <div class="col-md-12 text-center">
            <h3>Vous voulez en savoir plus?</h3>
            <a routerLink="/pollutants">Les polluants</a>
        </div>
 </div>