<div class="container" style="padding: 10px">
  <div class="row">
    <div class="col-xs-3">
      <b>{{pollutant}}</b>
    </div>
    <div class="col-xs-3">
      <b>Actuel: </b> {{current}}
    </div>
    <div class="col-xs-3">
      <b>Max: </b> {{max}}
    </div>
    <div class="col-xs-3">
      <b>Min: </b> {{min}}
    </div>
    <div class="col-xs-12" style="width:1000px !important;">
      <canvas  style="height:150px;" id="canvas{{pollutant}}">{{ chart }}</canvas>
    </div>
  </div>
</div>