<br>
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Accordion Example</h2>
      <accordion *ngFor="let pollutant of pollutants">
        <accordion-group heading="{{ pollutant.name }}">
          <p [innerHTML]="pollutant.description"></p>
        </accordion-group>
      </accordion>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
        <a routerLink="/"><i class="glyphicon glyphicon-chevron-left"></i>Retour vers la carte.</a>
    </div>
  </div>
</div>