<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Website Font style -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

  <!-- Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="container">
  <div class="row main">
    <h1 align="center">Mot de passe oublié</h1>
    <div *ngIf="message" class="message">{{message}}</div>
    <div class="main-login main-center">
      <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Courriel</label>
          <div class="cols-sm-8">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
              <input type="text" class="form-control" id="email" required
                     [(ngModel)]="model.email" name="email"
                     #email="ngModel" placeholder="Courriel"/>
            </div>
          </div>
        </div>
        <div class="form-group ">
          <button type="submit" id="submit"
                  class="btn btn-primary btn-lg btn-block login-button">Réinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
